# API
fastapi==0.115.0
uvicorn==0.30.6
python-multipart

# Data
pandas==2.2.3
openpyxl==3.1.5
numpy==1.26.4

# Vision / CLIP
torch==2.3.1
transformers==4.44.0
Pillow==10.4.0
open_clip_torch

# Vector DB
pinecone==6.0.0

# LLM
openai==1.40.0
groq==1.4.0

# UI
streamlit==1.37.0
requests==2.32.3

# Utils
python-dotenv==1.0.1
pydantic==2.8.2
tqdm==4.66.5

# Testing
pytest==8.3.2